<div id="post-{{id}}" class="card mb-3">
	<img class="card-image-top mx-auto mt-2 d-block" src="{{thumbnail}}" alt="No Image">
	<div class="card-body">
		<p class="card-text image-title">{{title}}</p>
		<p class="card-text">{{description}}</p>
		<a href="/post/{{id}}" class="card-text"><small class="text-muted">comment ({{comment}})</small></a>
	</div>
</div>