<div class="d-flex p-2">
    <div class="post-container">
        <img src="/{{currentPost.photopath}}" class="image-post my-3" alt="No Image">
        <br>
        <h2>{{currentPost.title}}</h2>
        <small><b>{{currentPost.username}}</b></small>
        <small>・</small>
        <small class="text-muted">{{currentPost.created}}</small>
        <div>{{currentPost.description}}</div>
        <br>
        <a href="/posts/delete/{{currentPost.postId}}"><small class="text-muted">delete</small></a>
        <ul id="form-comment" class="list-group list-group-flush mt-3">
            <li class="list-group-item list-group-item-color">
                <div class="form-row mt-2">
                    <div class="form-group col-10">
                        <input id="comment-text" class="form-control list-group-item-color" type="text" placeholder="Write a comment" aria-label="Send">
                    </div>
                    <div class="form-group col-auto">
                        <button id="comment-btn" class="btn btn-submit">Send</button>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-color">
                <h5>Comments</h5>
            </li>

            {{#each currentPost.comments}}
                {{> comment this}}
            {{/each}}
            
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });

    function addMessage(data) {
        let templete = document.createElement('templete');
        templete.innerHTML = 
        `<li id="message-${data.id}" class="list-group-item list-group-item-color">
            <div class="d-flex w-100 justify-content-between">
                <span><small class="mb-1">@${data.username}</small></span>
                <span class="date-posted">${new Date().toLocaleString()}</span>
            </div>
            <p class="mb-1">${data.comment}</p>
        </li>`;
        document.getElementById('form-comment').childNodes[3].after(templete.firstChild);
    }

    document.getElementById('comment-btn').onclick = (event) => {
        let commentText = document.getElementById('comment-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if(!commentText) {
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId: postId
            })
        }
        
        fetch('/comments/create', fetchOptions)
        .then((response) => response.json())
        .then((data) => {
            if(data.code == 1) {
                addMessage(data);
            }
            else {
                addFlashFromFrontEnd(data.message, data.status);
            }
        })
        .catch((err) => console.log(err));
    };
</script>